[Unit]
Description=DaffyChat user service
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/share/daffychat
ExecStart=/usr/bin/daffychat-server --config /etc/daffychat/daffychat.conf
Restart=on-failure
RestartSec=2s
NoNewPrivileges=true

[Install]
WantedBy=default.target
